<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>
<body>
<nav th:replace="layouts/base-layout :: menu"></nav>
<!-- Inicio del banner y serie-->

<div class="album py-5 bg-light">
    <div class="container my-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3">

            <div class="col-sm-12 col-md-8 col-lg-8 ">
                <div class="card">
                    <div class="card-body">
                        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                             data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="@{'/uploads/'+${serie.banner}}" th:alt="${serie.banner}"
                                         class="d-block w-100" alt="...">
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="alert alert-success mt-2" role="alert">
                    <h4>Sinopsis</h4>
                    <p th:text="${serie.sinopsis}"></p>
                    <hr>
                    <p class="mb-0" th:text="${#dates.format(serie.fechae, 'dd-MM-yyyy')}"></p>
                </div>

            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 order-md-last">
                <div class="card shadow-sm">
                    <img th:src="@{'/uploads/'+${serie.thumbs}}" th:alt="${serie.thumbs}" alt=""
                         class="img fluid rounded mx-auto d-block m-1" width="240" height="350">
                    <div class="card-body">
                        <p class="card-text text-center" th:text="${serie.nombre}"></p><!--Nombre de la serie-->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Dislike</button>
                            </div>
                            <small class="text-muted">9 likes / 2 dislikes</small>
                        </div>
                    </div>
                </div>

                <h4 class="d-flex justify-content-between align-items-center mb-3 mt-3">
                    <span class="text-primary">Detalles</span>
                    <span class="badge bg-primary rounded-pill">2</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Episodios</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted" th:text="${serie.episodios}"></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Categoria</h6>
                            <small class="text-muted">Shonen, Gore</small>
                        </div>
                        <span class="text-muted" th:text="${serie.episodios}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">En Emision</h6>
                            <small>Hay Secuelas</small>
                        </div>
                        <span class="text-success" th:text="${serie.episodios}"></span>
                    </li>
                    <!--li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li-->
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Estrellas</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- EMPIEZA EL DETALLE DE SERIE -->
<div class="container my-3 ">
    <div class="accordion" id="accordionguss">
        <div class="accordion-item" th:each="det : ${serie.detalles}">
            <h2 class="accordion-header" th:id="'headingOne'+${det.capitulo}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapseOne'+${det.capitulo}" aria-expanded="true" aria-controls="collapseOne">
                    Capitulo <label th:text="${det.capitulo}"></label>
                </button>
            </h2>
            <div th:id="'collapseOne'+${det.capitulo}" class="accordion-collapse collapse" th:aria-labelledby="'headingOne'+${det.capitulo}" data-bs-parent="#accordionguss">
                <div class="accordion-body"><!-- for?-->
                    <!-- BODY CONTENT-->

                    <div class="bd-example">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link active" th:id="'nav-home-tab'+${det.capitulo}" data-bs-toggle="tab" th:data-bs-target="'#nav-home'+${det.capitulo}" type="button" role="tab"
                                        th:aria-controls="'nav-home'+${det.capitulo}" aria-selected="true">Servidor <label th:text="${det.capitulo}"></label></button>
                                <button class="nav-link" th:id="'nav-profile-tab'+${det.capitulo}" data-bs-toggle="tab" th:data-bs-target="'#nav-profile'+${det.capitulo}" type="button" role="tab"
                                        th:aria-controls="'nav-profile'+${det.capitulo}" aria-selected="false">Servidor <label th:text="${det.capitulo+1}"></label></button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" th:id="'nav-home'+${det.capitulo}" role="tabpanel" th:aria-labelledby="'nav-home-tab'+${det.capitulo}">
                                    yes
                                <div class="ratio ratio-16x9">
                                    <iframe th:src="${det.link1}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="tab-pane fade" th:id="'nav-profile'+${det.capitulo}" role="tabpanel" th:aria-labelledby="'nav-profile-tab'+${det.capitulo}">
                                    not
                                <div class="ratio ratio-16x9">
                                    <iframe th:src="${det.link2}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>

    <!-- COMENTARIOS DE SERIES -->

    <div class="my-2">
        <a th:href="@{'/series/comentario/'+${serie.id}}" class="btn btn-outline-info">Comentar</a>
    </div>

</div>

<!--COMIENZA LOS COMENTARIOS -->
<div class="container mt-2">
    <div class="list-group">

        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start" th:each="comentario : ${serie.comentarios}">
                <div class="ms-2 me-auto" th:each="user : ${comentario.usuario}">
                    <div class="fw-bold" th:text="${user.username}"></div>
                    <p class="mb-1" th:text="${comentario.texto}"></p>
                    <div class="d-flex" th:each="i : ${comentario.usuario}">
                        <div th:if="${i.username == username}">
                            <a th:href="@{/comentarios/edit-comentario/}+${comentario.id}" class="btn btn-sm btn-outline-success">edit</a>
                            <a th:href="@{/comentarios/delet-comentario/}+${comentario.id}" class="btn btn-sm btn-outline-danger">delet</a>
                        </div>
                    </div>
                </div>
                <span class="badge bg-primary rounded-pill" th:text="${comentario.fecha}+' s'"></span>

            </li>
        </ol>

    </div>
</div>


<div th:replace="layouts/base-layout :: footer"></div>
<script th:replace="layouts/base-layout :: jsboot"></script>
</body>
</html>