<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>
<body>
<nav th:replace="layouts/base-layout :: menu"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4 mt-4">
            <h1 class="text-center mt-3">Login</h1>
            <div th:if="${userregistrado != null}" th:text="${userregistrado}" class="alert alert-success text-center" role="alert">

            </div>
            <div th:if="${param.error}" class="alert alert-danger text-center" role="alert">
                Credenciales Incorrectas!
            </div>
            <form th:action="@{/auth}" method="post" id="loginform" role="form">
                <div class="form-floating">
                    <!---->
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required autocomplete="off">
                    <label for="username">@Messages("login.username")</label>

                </div>
                <div class="form-floating mt-3">
                    <input type="password" class="form-control" name="password" id="pass" placeholder="Password" required autocomplete="off">
                    <label for="pass">@Messages("login.password")</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="submit" class="w-100 btn btn-lg btn-primary" value="login.login">
                </div>
            </form>
        </div>
    </div>

</div>

<div th:replace="layouts/base-layout :: footer"></div>
<script th:replace="layouts/base-layout :: jsboot"></script>
</body>
</html>